@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
    /*  --------- RESET -------- */
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EDF1F5;
}
* {
    margin: auto;
    padding: auto;
}
.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #0373b1;
    border: 0.2rem solid #0373b1;;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    
    &:hover {
        background-color: #0a354c;
        border-color: #0a354c;
        color: #fff;
    }
}

         /*  ---------           -------- */
        /*  --------- HOME PAGE  ------- */
       /*  ---------            ------- */

       /*  --------- SECTION LOGO CES-------- */
.logo-ces {
    width: 100%;
    padding: 0;
    margin-top: 60px;
    text-align: center;
    .logo{
        img {
            width: 40%;
        }
    }
}

        /*  --------- SECTION PRÉSENTATION -------- */
.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #0A354C;
    color: white;
}

.jeux {
    background-color: #051b27;
    color: #fff;
    margin-top: 2rem;
    // position: relative;
    width: 100%;
    // z-index: 1;
}


         /*  ---------           -------- */
        /*  --------- CGU PAGE   ------- */
       /*  ---------            ------- */

#cgu{
    .logocgu{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        .logo {
            img{
                width: 30%;
            }
        }
    }
   .cgu {
    width: 60%;
    text-align: center;
   }
}

         /*  ---------           -------- */
        /*  --------- FOOTER     ------- */
       /*  ---------            ------- */

footer {
    margin-top: 4rem;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .linklogo{
        .logo2 {
            width: 100%;
            padding: 1rem 0;
        }
    }
            
    ul {
        color: #fff;
        list-style: none;
        display: flex;
        padding: 0;
        li {
            padding: 0rem 1rem;
            a {
            // margin: 1rem;
            color: #fff;
            text-decoration: none;
            }
        }
    }
    p {
        color: #fff;
    }
    }
     
    footer ul:not(:last-child) {
        border-right: 1px solid #fff ;
    }





         /*  ---------                  -------- */
        /*  ---------   MEDIA QUERIES   ------- */
       /*  ---------                   ------- */

@media screen and (max-width: 768px) {
    // FOOTER
    footer {
        flex-direction: column;
        text-align: center;
        .logo2 {
             width:18%;
        }       
        ul {
            flex-direction: column;
            li {
                padding: 0.8rem;
            }
        }
        .reseaux {
            margin: 1rem;
        }
    }
    footer ul:not(:last-child) {
        border-right: none ;
    }      
    }