@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
    /*  --------- RESET -------- */
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EDF1F5;
}
* {
    margin: auto;
    padding: auto;
}
.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #0373b1;
    border: 0.2rem solid #0373b1;;
    color: #fff;
    padding: 10px;
    width: 185px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    
    &:hover {
        background-color: #0a354c;
        border-color: #0a354c;
        color: #fff;
    }
}

         /*  ---------           -------- */
        /*  --------- HOME PAGE  ------- */
       /*  ---------            ------- */

       /*  --------- SECTION LOGO CES-------- */
.logo-ces {
    width: 100%;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 3rem;
    text-align: center;
    .logo{
        img {
            width: 40%;
        }
    }
}

        /*  --------- SECTION PRÉSENTATION -------- */
.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #0A354C;
    color: #fff;
    h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    p{
        margin: 1rem;
    }
}

.expli-jeux {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #051b27;
    color: #fff;
    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .container-jeux{
       margin: 1rem;
         h3{
             margin-top: 1rem;
             margin-bottom: 1rem;
        }
        p{
            margin-bottom: 1rem;
        }
        .mnbtn {
            margin-top: 4rem;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
        
}


         /*  ---------           -------- */
        /*  --------- CGU PAGE   ------- */
       /*  ---------            ------- */

#cgu{
    .logocgu{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        .logo {
            img{
                width: 30%;
            }
        }
    }
   .cgu {
    width: 60%;
    text-align: center;
   }
}


         /*  ---------                -------- */
        /*  ---------   PAGE QUIZ     ------- */
       /*  ---------                 ------- */

.qcm {
    margin: 3rem;
    .question{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p{
        input {
        width: 20%;
        }
    }
}

         /*  ---------                     -------- */
        /*  ---------   PAGE VALIDATION    ------- */
       /*  ---------                      ------- */

.contact {
    h2 {
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    }
    .form-contact{
        margin: 2rem;
        .info-text {
            display: flex;
            flex-direction: column;
            span{
                color: red;
            }
            label {
                font-size: 20px;
                margin: 7px 0;
            }
            input {
                border: none;
                font-size: 18px;
                padding: 8px;
                margin-bottom: 20px;
                outline: solid 1px #0A354C;
            
            }
        }
    }
    
}


         /*  ---------           -------- */
        /*  --------- FOOTER     ------- */
       /*  ---------            ------- */

footer {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .linklogo{
        .logo2 {
            
            width: 80%;
            padding: 1rem 0;
        }
    }
            
    ul {
        color: #fff;
        list-style: none;
        display: flex;
        padding: 0;
        li {
            padding: 0rem 1rem;
            a {
            // margin: 1rem;
            color: #fff;
            text-decoration: none;
            }
        }
    }
    p {
        color: #fff;
    }
    }
     
    footer ul:not(:last-child) {
        border-right: 1px solid #fff ;
    }





         /*  ---------                  -------- */
        /*  ---------   MEDIA QUERIES   ------- */
       /*  ---------                   ------- */

@media screen and (max-width: 768px) {
    // FOOTER
    footer {
        flex-direction: column;
        text-align: center;
        .logo2 {
             width:18%;
             margin-top: 2rem;
        }       
        ul {
            flex-direction: column;
            li {
                padding: 0.8rem;
            }
        }
        .reseaux {
            margin: 1rem;
        }
    }
    footer ul:not(:last-child) {
        border-right: none ;
    }      
    }

@media screen and (min-width: 780px) {
    // PRÉSENTATION
    .presentation {
       height: 300px;
       h2{
           margin-top: 2rem !important;
           font-size: 2rem;
       }
       p{
           width: 70%;
           padding-left: 3rem;
           padding-bottom: 3rem;
       }
    }

    // EXPLICATION DU JEUX
    .expli-jeux {
        h2 {
            font-size: 2rem;
        }
        .container-jeux{
            padding-left: 3rem;  
        }              
    }

    // QUIZ PAGE
    .qcm {
        p{
            input {
            width: 7% ;
            }
        }
    }
    // VALIDATION FORMULAIRE
    .contact {
       margin-left: 8rem;
        .form-contact{
            .info-text {
                input {
                   width: 60%;
                
                }
            }
        }
    }

 }