@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*  --------- RESET -------- */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #EDF1F5;
}

* {
  margin: auto;
  padding: auto;
}

.btn-link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0373b1;
  border: 0.2rem solid #0373b1;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.btn-link:hover {
  background-color: #0a354c;
  border-color: #0a354c;
  color: #fff;
}

/*  ---------           -------- */
/*  --------- HOME PAGE  ------- */
/*  ---------            ------- */
/*  --------- SECTION LOGO CES-------- */
.logo-ces {
  width: 100%;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 3rem;
  text-align: center;
}
.logo-ces .logo img {
  width: 40%;
}

/*  --------- SECTION PRÉSENTATION -------- */
.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #0A354C;
  color: #fff;
}
.presentation h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.presentation p {
  margin: 1rem;
}

.expli-jeux {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #051b27;
  color: #fff;
}
.expli-jeux h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.expli-jeux .container-jeux {
  margin: 1rem;
}
.expli-jeux .container-jeux h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.expli-jeux .container-jeux p {
  margin-bottom: 1rem;
}
.expli-jeux .container-jeux .mnbtn {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

/*  ---------           -------- */
/*  --------- CGU PAGE   ------- */
/*  ---------            ------- */
#cgu .logocgu {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#cgu .logocgu .logo img {
  width: 30%;
}
#cgu .cgu {
  width: 60%;
  text-align: center;
}

/*  ---------           -------- */
/*  --------- FOOTER     ------- */
/*  ---------            ------- */
footer {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .linklogo .logo2 {
  width: 80%;
  padding: 1rem 0;
}
footer ul {
  color: #fff;
  list-style: none;
  display: flex;
  padding: 0;
}
footer ul li {
  padding: 0rem 1rem;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer p {
  color: #fff;
}

footer ul:not(:last-child) {
  border-right: 1px solid #fff;
}

/*  ---------                  -------- */
/*  ---------   MEDIA QUERIES   ------- */
/*  ---------                   ------- */
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer .logo2 {
    width: 18%;
    margin-top: 2rem;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    padding: 0.8rem;
  }
  footer .reseaux {
    margin: 1rem;
  }

  footer ul:not(:last-child) {
    border-right: none;
  }
}
@media screen and (min-width: 780px) {
  .presentation {
    height: 300px;
  }
  .presentation h2 {
    margin-top: 2rem !important;
    font-size: 2rem;
  }
  .presentation p {
    width: 70%;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  .expli-jeux h2 {
    font-size: 2rem;
  }
  .expli-jeux .container-jeux {
    padding-left: 3rem;
  }
}

/*# sourceMappingURL=stylle.css.map */
